
body{
    margin: 0;
text-align: center ;
font-family: 'Merriweather', serif;
}
.top {

   padding-top: 100px;
    background-color: aliceblue;
}

h1{ 
    color:#66bfbf;
    font-size: 5.625rem ;
margin: 20px;
font-family: 'Sacramento', cursive;
}

h2{
    color:#66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: normal;

}

h3{

    color: #11999e;;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.pro{

    text-decoration:underline;
}
.bottom-cloud{




    position: absolute;
}



.top-cloud{

    position: absolute;
    right:500px;
    top:50px;

}


.skill-row{



    width: 50%;
    margin:2px auto auto auto;
    line-height: 2;
    text-align: left;
    
}



.play-row{



    width: 59%;
    margin: 2px auto;
    line-height: 2;
    text-align: left;
    
}
.skill {
height: 200px;
width: 50%;
float:left;
margin-right: 30px;
margin-bottom: 80px;
    
}



.play {

    width: 30%;
    float:right;
    margin-left: 30px;

}